# Table of Contents
## 1. Import libraries
## 2. Import Data
## 3. Data Check
## 4. Data Wrangling 
## 5. Cleaning the Data

# 1 Import Libraries

In [43]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2 Import Data

In [44]:
# Create a path 
path = r'/Users/alejandrosalgado/Desktop/Final Project'

In [45]:
df = pd.read_csv(r'/Users/alejandrosalgado/Desktop/Final Project/02 Data /Original Data /6.1 boat_data.csv', index_col = False)

# 3 Data Check

In [9]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [10]:
df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

In [11]:
df.shape

(9888, 10)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

# 4 Data Wrangling

In [14]:
# New comlumns separating Country City Standing Point 
df[['Country','City','Standing_point']]= df['Location'].str.split('Â»', 2, expand=True)

In [15]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Country,City,Standing_point
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,Switzerland,Lake Geneva,VÃ©senaz
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,Germany,BÃ¶nningstedt,None
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,Switzerland,Lake of Zurich,StÃ¤fa ZH
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,Denmark,Svendborg,None
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,Germany,Bayern,MÃ¼nchen

In [16]:
# Change the currency to the same unit
df['Currency'] = df.loc[:,'Price'].str.slice(0,3)

In [18]:
# Count of curreny used
df['Currency'].value_counts(dropna = False)

EUR    8430
CHF     980
Â£      298
DKK     180
Name: Currency, dtype: int64

In [19]:
# Split the price 
df['Price'] = df['Price'].str.replace(r'[A-Z\D\W]', '')

/var/folders/wk/r4fv1r8s1kz3ksnb_nsqv6bc0000gn/T/ipykernel_82961/2924858916.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'[A-Z\D\W]', '')

In [20]:
# Change data type of price to interger
df['Price'] = df['Price'].astype('int')

In [22]:
# Convert the currency
def usdprice(Price,Currency):
    if Currency=='CHF':
        return Price * 1.08
    elif Currency=='DKK':
        return Price * 0.14
    elif Currency=='Â£':
        return Price * 1.22
    elif Currency=='EUR':
        return Price * 1.06
    else:
        return Price
df['USD_price'] = df.apply(lambda x: usdprice(x.Price, x.Currency), axis=1)

In [23]:
# Check the dataframe
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Country,City,Standing_point,Currency,USD_price
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,Switzerland,Lake Geneva,VÃ©senaz,CHF,3603.96
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,Germany,BÃ¶nningstedt,None,EUR,3699.40
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,Switzerland,Lake of Zurich,StÃ¤fa ZH,CHF,4071.60
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,Denmark,Svendborg,None,DKK,3626.00
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,Germany,Bayern,MÃ¼nchen,EUR,3602.94

In [24]:
# Droping columns that are not needed 
df = df.drop(['Price','Currency','Location','Standing_point'],axis = 1)

In [25]:
df.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,Country,City,USD_price
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,Switzerland,Lake Geneva,3603.96
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany,BÃ¶nningstedt,3699.40
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland,Lake of Zurich,4071.60
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,Denmark,Svendborg,3626.00
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany,Bayern,3602.94

# Cleaning the Data

In [26]:
# Check for missing values
df.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
Country                          36
City                            943
USD_price                         0
dtype: int64

In [27]:
# Using the median to fill in the Length and Width values
df['Length'] = df['Length'].fillna(df['Length'].median())
df['Width'] = df['Width'].fillna(df['Width'].median())

In [28]:
# Check for missing values
df.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            0
Width                             0
Material                       1749
Number of views last 7 days       0
Country                          36
City                            943
USD_price                         0
dtype: int64

In [29]:
# Drop the other missing values
df_clean = df.dropna()

In [31]:
# check the shape
df_clean.shape

(6394, 11)

In [32]:
# Check for missing values
df_clean.isnull().sum()

Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
Country                        0
City                           0
USD_price                      0
dtype: int64

In [33]:
# Check for duplicates
df_clean_dups = df_clean[df_clean.duplicated()]

In [34]:
df_clean_dups

Empty DataFrame
Columns: [Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Number of views last 7 days, Country, City, USD_price]
Index: []

In [35]:
# Check for statistics
df_clean.describe()

,Year Built,Length,Width,Number of views last 7 days,USD_price
count,6394.000000,6394.000000,6394.000000,6394.000000,6.394000e+03
mean,1883.440413,10.670658,3.355988,163.303722,2.416208e+05
std,482.188034,4.812833,1.068479,167.676332,6.496076e+05
min,0.000000,1.980000,0.860000,15.000000,3.602940e+03
25%,1997.000000,7.200000,2.520000,73.000000,4.441400e+04
50%,2008.000000,9.640000,3.100000,115.000000,9.010000e+04
75%,2018.000000,13.060000,4.050000,191.000000,2.278950e+05
max,2021.000000,56.000000,16.000000,3263.000000,2.491000e+07

In [36]:
# Drop the years with 0
df_clean = df_clean[df_clean['Year Built']!=0]

In [37]:
df_clean.describe()

,Year Built,Length,Width,Number of views last 7 days,USD_price
count,6001.000000,6001.000000,6001.000000,6001.00000,6.001000e+03
mean,2006.785202,10.834531,3.393046,165.18047,2.468251e+05
std,12.909093,4.847406,1.071161,171.31140,6.665805e+05
min,1901.000000,2.320000,0.860000,15.00000,3.602940e+03
25%,2000.000000,7.350000,2.540000,74.00000,4.547400e+04
50%,2008.000000,9.880000,3.200000,115.00000,9.222000e+04
75%,2018.000000,13.240000,4.100000,193.00000,2.310800e+05
max,2021.000000,56.000000,16.000000,3263.00000,2.491000e+07

In [38]:
# Check for mixed data type
for col in df_clean.columns.tolist():
  weird = (df_clean[[col]].applymap(type) != df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_clean[weird]) > 0:
    print (col)

In [51]:
# Final check for clean data 
df_clean.shape

(6001, 11)

# Export clean Data

In [58]:
df_clean.to_csv(os.path.join(path,'Boat_Orders_clean.csv'))